cat > .gitignore << 'EOF'
# Virtual environment
venv/


# Dataset
*.zip
plant_data/

# Python cache
__pycache__/
*.pyc
*.pyo
.DS_Store

# Jupyter notebooks checkpoints
.ipynb_checkpoints/
EOF
venv/
__pycache__/
*.pyc
.DS_Store